$name: '.double-spinner';
#{$name} {
  display: inline-block;
  width: 64px;
  height: 64px;
  @keyframes double-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &:after {
    content: ' ';
    display: block;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #3b82f6;
    border-color: #3b82f6 transparent #3b82f6 transparent;
    animation: double-spin 1.2s linear infinite;
  }
}
